.text-link:link, .text-link:active {
  color: #054f7f;
}

.text-link:visited {
  color: #7f054f;
}

.text-link:hover, .text-link:focus {
  color: #4f7f05;
}

.error {
  color: red;
  margin: 0 0 20px 0;
}
