.gif-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gif-image {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100%; 
}

.gif-item h5 {
    text-align: center;
    color: #838383;
}