.results-favorites-header {
    margin: 2%;
}

.results-favorites-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    margin-bottom: 2%;
}

.favorite-item {
    margin: 2%;
}

.results-item {
    margin: 1%;
}

.individual-score {
    text-align: center;
    font-weight: bold;
    font-size: .9em;
}